$accent: #60C17D;
$inline-code-block-bg: hsl(210, 1%, 20%);


// Colors
$body-bg: #23272d;
$aside-bg: #363636;
$text-color: #b4bdcc;
$strong-color: white;
$title-color: white;
$border-light: rgba(0, 0, 0, 0.1);
$border-dark: rgba(255, 255, 255, 0.3);
$border-medium: rgba(50, 50, 50, 0.3);
$blockquote-border: #cccccc;
$table-border: #cccccc;
$table-bg: #23272d;
$table-alt-bg: #23272d;
$caption-color: #98a0ac;

// Highlight colors
$highlight-red: #ffaaaa;
$highlight-orange: #ffd486;
$highlight-green: #aaffad;
$highlight-blue: #d8e7ff;

// Text colors
$color-red: #FF0F00;
$color-orange: #eb9800;
$color-green: #00eb1d;
$color-blue: #0062ff;


