$accent: #FF0F00;
$inline-code-block-bg: #d4d48e;

// Colors
$body-bg: #FFFFDD;
$aside-bg: #fbf1c7;
$text-color: #272727;
$strong-color: $text-color;
$title-color: #272727;
$border-light: rgba(0, 0, 0, 0.1);
$border-dark: rgba(255, 255, 255, 0.3);
$border-medium: rgba(50, 50, 50, 0.3);
$blockquote-border: #333333;
$table-border: #cccccc;
$table-bg: white;
$table-alt-bg: #f8f8f8;
$caption-color: #555;

// Highlight colors
$highlight-red: #ffaaaa;
$highlight-orange: #ffd486;
$highlight-green: #aaffad;
$highlight-blue: #d8e7ff;

// Text colors
$color-red: #FF0F00;
$color-orange: #eb9800;
$color-green: #00eb1d;
$color-blue: #0062ff;

