<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="{% if site.theme == 'dark' %}dark-theme{% endif %}">
    <script>
        // Check if user has a saved theme preference
        // Check if user has a system theme preference
        const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)');
        let bodySavedTheme = localStorage.getItem('theme');
        if (!bodySavedTheme) {
            bodySavedTheme = prefersDarkScheme.matches ? 'dark' : 'light';
        }
        
        // Set theme based on saved preference
        if (bodySavedTheme === 'dark') {
            document.body.classList.add('dark-theme');
        } else if (bodySavedTheme === 'light') {
            document.body.classList.remove('dark-theme');
        } else {

        }
    </script>
    <div class="container">
        {% include navbar.html %}
        <div class="page-title">
            {{page.title}}
        </div>
        <div class="page-subtitle">
            {% for tag in page.tags %}
                {% if page.tags.first == tag %}
                    <b>[</b>
                {% endif %}
                <a href="/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>
                {% if page.tags.last == tag %}
                    <b>]</b>
                {% else %}
                    ,
                {% endif %}
            {% endfor %}
        </div>
        {% if page.layout == "post" %}
        <div style="text-align: center;">{{ page.content | strip_html | number_of_words }} words</div>
        {% endif %}
        {% if page.toc == true %}
            <div class="top-level-toc">
                <h2>Table of Contents</h2>
                {{ content | toc_only }}
            </div>
        {% endif %}
        <div class="content">
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
</body>
